*~
*.pyc
bin/
venv/
include/
lib/
local/
_trial_temp*/
pip-selfcheck.json
.Python
*.egg-info
.coverage
.ziggy
.idea/workspace.xml
.idea/misc.xml
.idea/vcs.xml
.idea/dictionaries
.idea/inspectionProfiles
.idea/modules.xml
.idea/manof.iml
